<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatNow..? - Find Activities</title>
    <link rel="stylesheet" href="../static/styles/landing-page.css">
    <script src="{{url_for('static', filename='js/landing-page.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="alert-container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    
    <div>{% include 'navbar.html' %}</div>
    
    <main class="landing-container">
        <div class="landing-content">
            <div class="landing-text">
                <h1>Find Activities<br>Near You!</h1>
                <p>You may feel like the area that you live in has nothing to do because you already tried many activities. But, you'd be surprised how easy it is to find new experiences near you. Just input your hobbies and let us recommend exciting activities that match your interests. Go try them out now!!</p>
                <button class="get-started-btn">Get Started!</button>
            </div>
            <div class="landing-image">
                <img src="../static/images/images-used/landing-page-image.png" alt="Chat bubbles illustration">
            </div>
        </div>
    </main>
</body>
</html>
