<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page 2</title>
  <link rel="stylesheet" href="../static/styles/landing-page.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Liter&display=swap"
    rel="stylesheet"
  />
  <script src="{{url_for('static', filename='js/landing-page.js') }}"></script>
  <!-- <link href="../static/styles/landing-page-info.css" rel="stylesheet" /> -->
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="alert-container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}


  <div>{% include 'navbar.html' %}</div>


    <!-- Spacer for scroll effect -->
    <!-- <div style="height: 200vh;">
      <div class="container text-center py-5">
    </div> -->
  </div>

</body>
</html>


