@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
  --navbar-clr: #DBE7DC;
  --background-clr: #FFF5E4;
  --header-clr: #487161;
  --subheader-clr: #FFA725;
  --list-clr: #C1D8C3;
}

body {
  background-color: var(--background-clr);
}
